.Rhistory
.RData
.Ruserdata
.DS_Store
.Rproj.user

src/*.o
src/*.so
src/*.dll
*.Rcheck/

# analysis
analysis/

# R documentation
helper-docs/
refs/

# inst files
inst/doc
inst/benchmarks/
dev/

# R markdowns
*.Rmd

# Installation
*.tar.gz

*.Rproj
check.sh
check_output.txt
