.Rhistory
.RData
.Ruserdata
.DS_Store
.Rproj.user

src/*.o
src/*.so
src/*.dll
*.Rcheck/

# analysis
analysis/

# claude related files
CLAUDE.md
.claude

# R documentation
helper-docs/
refs/

# inst files
inst/doc
inst/benchmarks/

# R markdowns
*.Rmd

# Installation
*.tar.gz
*.md
